body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #eff1e5;
}

.top-banner {
    color: rgb(27, 52, 36);
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgb(234, 196, 237);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    width: 450px;
}

.gallery-image {
    width: 75%;
    height:auto;
    object-fit: cover;
    border: solid #fcfdfd;
    border-radius: 5px;
}

.caption {
    margin: 15px;
    font-size: 15px;
    font-weight: 500;
}

.gallery-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 25px;
    cursor: pointer;
    border: solid black;
    border-radius: 7px;
    background-color: #e49be0;
    color: rgb(12, 5, 11);
    font-size: 18px;
}

button:hover {
    background-color: #fcfdfd;
}

footer {
    background-color: #b788d6;
    color: rgb(27, 52, 36);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin: 10px;
}